@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #fdfcf8;
}

/* Leaflet Popup Styling */
.leaflet-popup-content-wrapper {
  border-radius: 1.5rem !important;
  padding: 0.5rem !important;
}

.leaflet-popup-tip-container {
  display: none !important;
}
